<!DOCTYPE html>
<!-- 
TEMPLATE NAME : Adminre frontend
VERSION : 1.2.0
AUTHOR : JohnPozy
AUTHOR URL : http://themeforest.net/user/JohnPozy
EMAIL : pampersdry@gmail.com
LAST UPDATE: 23/06/2014

** A license must be purchased in order to legally use this template for your project **
** PLEASE SUPPORT ME. YOUR SUPPORT ENSURE THE CONTINUITY OF THIS PROJECT **
-->
<html class="frontend">
    <!-- START Head -->
    <%= render 'shared/frontend_head' %>
    <!--/ END Head -->

    <!-- START Body -->
    <body>
        

        <!-- START Template Main -->
        <section id="main" role="main">
            <!-- START jumbotron -->
            <section class="jumbotron jumbotron-bg7 nm" data-stellar-background-ratio="0.4" style="min-height:1005px;">
                <!-- pattern + overlay -->
                <div class="overlay pattern pattern2"></div>
                <!--/ pattern + overlay -->
                <div class="container" style="padding-top:8%;">
                    <div class="row">
                        <div class="col-md-6 ">
                           <!--  <blockquote>
                                <p class="text-white mb15 fsize12">
                                    Connecting and empowering black professionals that have achieved the CFA designation and those pursuing the CFA course of study. Get engaged, join us.
                                </p>
                            </blockquote> -->
                        </div>
                        <div class="col-md-4 np col-md-offset-2" style="border: 1px solid #252525; border-radius: 6px; background: rgba(0,0,0, .2);">
                            <div class="panel nm bgcolor-transparent no-border">
                                <div class="panel-body pr30 pl30">
                                    <img class="img-circle mb5 mr10 ml5 pull-left mt10" src="/image/logo/cfa-logo-inverse.jpg" alt="" style="height: 57px; width: 57px;">
                                    <h1 class="text-white mb5 pull-left mt15">BlackCFA.</h1>
                                    <div class="clearfix"></div>
                                    <p class="text-muted mb0 fsize12 pl5 pr5">
                                        Connecting and empowering professionals that have achieved the CFA designation and those pursuing the CFA course of study.
                                    </p>
                                    <!-- <div class="col-md-3 row">
                                        <a class="btn btn-default btn-outline text-white btn-lg">Learn More</a>
                                    </div> -->
                                    <!-- <div class="clearfix"></div> -->
                                </div>
                                <hr class="dark mb5 mt5">
                                <div class="panel-body pr30 pl30">
        							<%= form_for User.new, url: users_path, html: {novalidate: true} do |f| %>
                                        <div class="form-group">
        									<%= f.text_field :email, class: "form-control input-lg", id: "signup_username", placeholder: "Email" %>
                                        </div>
                                        <div class="form-group">
                                            <%= f.password_field :password, class: "form-control input-lg", id: "signup_username", placeholder: "Password" %>
                                        </div>
                                        <!-- <div class="form-group">
                                            <%#= f.password_field :password_confirmation, class: "form-control input-lg", id: "signup_username", placeholder: "Password Confirmation" %>
                                        </div>
                                        --> 
                                        <div class="form-group">
                                            <%= f.text_field :access_code, class: "form-control input-lg", id: "access_code", placeholder: "Access Code" %>
                                        </div>
                                        <div class="form-group mb0">
                                            <span class="help-block text-muted mb0">Don't have an access code? <a href="#">How to get one.</a></span>
                                        </div>
                                    </div>
                                    <hr class="darker mb5 mt5">
                                    <div class="panel-body pr30 pl30">
        								<%= f.submit "Sign up for BlackCFA", class: "semibold btn btn-primary btn-3d btn-block btn-lg", style: "padding: 12px 16px;" %>
                                        <div class="form-group pt15">
                                            <span class="help-block text-muted">By clicking "Sign up for BlackCFA", you agree to our <a href="#">terms of service</a> and <a href="#">privacy policy</a>. We will send you account related emails occasionally.</span>
                                        </div>
        							<% end %>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>
            <!--/ END jumbotron -->

           

            <!-- START To Top Scroller -->
            <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
            <!--/ END To Top Scroller -->
        </section>
        <!--/ END Template Main -->

        <!-- START Template Footer -->
        <%= render 'shared/frontend_footer' %>
        <!--/ END Template Footer -->

        

        <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
        <!-- Library script : mandatory -->
        <script type="text/javascript" src="/library/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="/library/jquery/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/library/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/library/core/js/core.min.js"></script>
        <!--/ Library script -->

        <!-- App and page level script -->
        <script type="text/javascript" src="/plugins/sparkline/js/jquery.sparkline.min.js"></script><!-- will be use globaly as a summary on sidebar menu -->
        <script type="text/javascript" src="/javascript/app.min.js"></script>
        
        
        <script type="text/javascript" src="/plugins/owl/js/owl.carousel.min.js"></script>
        
        <script type="text/javascript" src="/javascript/pages/frontend/home.js"></script>
        
        <!--/ App and page level scrip -->
        <!--/ END JAVASCRIPT SECTION -->
    </body>
    <!--/ END Body -->
</html>