<%= render 'shared/backend_head' %>

    <!-- START Body -->
    <body>
        <!-- START Template Main -->
        <section id="main" role="main">

         <section class="jumbotron jumbotron-bg1 nm" data-stellar-background-ratio="0.4" style="min-height:1400px;">
            <!-- pattern + overlay -->



            <!-- START Register Content -->
            <section class="section">
            <!-- pattern + overlay -->
            <div class="overlay pattern pattern2"></div>

            <!-- START Template Container -->
            <section class="container">
                <!-- START row -->
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <!-- Brand -->
                        <div class="text-center" style="margin-bottom:20px;">
                            <span class="logo-figure inverse"></span>
                            <span class="logo-text inverse"></span>
                            <h3 class="semibold text-white mt-5">Login to your account.</h3>
                        </div>
                        <!--/ Brand -->

                        <%= form_tag sessions_path, :class => "panel" do %><!-- Register form -->

                        <form class="panel nm" name="form-register" action="">
                            <div class="panel-body">
                                <!-- Social button -->
                                <ul class="list-table">
                                    <li><button type="button" class="btn btn-block btn-facebook">Connect with <i class="ico-facebook2 ml5"></i></button></li>
                                    <li><button type="button" class="btn btn-block btn-twitter">Connect with <i class="ico-twitter2 ml5"></i></button></li>
                                </ul>
                                <!-- Social button -->
                            </div>

                            <hr class="nm">
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <div class="has-icon pull-left">
                                         <%= text_field_tag(:email, nil, {placeholder: "Email", class: "form-control", type: "text"}) do %>
                                             <input type="text" class="form-control" name="username" data-parsley-required>
                                            <i class="ico-user2 form-control-icon"></i>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <div class="has-icon pull-left">
                                        <%= text_field_tag(:password, nil, {placeholder: "Password", type: "password", class: "form-control"}) do %>
                                            <input type="password" class="form-control" name="password" data-parsley-required>
                                            <i class="ico-key2 form-control-icon"></i>
                                        <% end %>
                                    </div>
                                </div>
                                
                                <div class="checkbox custom-checkbox">  
                                    <input type="checkbox" name="news" id="news" value="1">  
                                    <label for="news" class="text-muted">&nbsp;&nbsp;Keep me logged in.</label>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <%= button_tag(type: 'submit', class: "btn btn-block btn-success") do %>
                                    <span class="semibold">Sign In</span>
                                <% end %>
                            </div>
                        </form>
                        <!-- Register form -->
                        <% end %>


                        <hr><!-- horizontal line -->

                        <p class="text-center">
                            <span class="text-white">Don't have an account? <a class="semibold ml5" href="<%= signup_path %>">Sign up to get started.</a></span>
                        </p>
                    </div>
                </div>
                <!--/ END row -->
            </section>
            
            <!--/ END Register Content -->

            <!-- START To Top Scroller -->
            <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
            <!--/ END To Top Scroller -->
        </section>
        <!--/ END Template Main -->

