<%= render 'shared/user_head'%>

           
        <!-- START Template Main -->
        <section id="main" role="main">
            <section class="jumbotron jumbotron-bg3 nm" data-stellar-background-ratio="0.4" style="min-height:200px; z-index: -1;">
                <!-- pattern + overlay -->
                <div class="overlay pattern pattern10"></div>
                <!--/ pattern + overlay -->
            </section>
            <!--/ END jumbotron -->


            <!-- START Template Container -->
            <div class="container">
                
                <div class="col-md-10 col-md-offset-1">
                    <!-- START Row -->
                    <div class="row">
                        <!-- Left Side / Top side -->
                        <div class="col-md-4">
                            <div class="text-left">
                                <img class="img-circle img-bordered" src="<%= @user.avatar %>" alt="" style="margin-top: -100px; z-index: 999; position: relative;" width="180px" height="180px">
                            </div>

                            <h3 class="text-left"><%= @user.full_name %></h3>
                            <h4 class="thin text-left"><%= @user.company_and_title %></h4>

                            <br>

                            <!-- figure with progress -->
                            <ul class="list-table bgcolor-white panel">
                                <li class="text-left">
                                    <div class="panel-body">
                                        <div class="progress progress-lg mb5">
                                            <div class="progress-bar progress-bar-warning" style="width:70%"></div>
                                        </div>
                                        <p class="clearfix nm">
                                            <span class="pull-left bold">Profile complete</span>
                                            <span class="pull-right bold">70%</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <!--/ figure with progress -->

                            <hr><!-- horizontal line -->

                            <!-- tab menu -->
                            <ul class="list-group list-group-tabs">
                                <li class="list-group-item active"><a href="#profile" data-toggle="tab"><i class="ico-user2 mr5"></i> Profile</a></li>
                                <li class="list-group-item"><a href="#account" data-toggle="tab"><i class="ico-archive2 mr5"></i> Account</a></li>
                                <li class="list-group-item"><a href="#password" data-toggle="tab"><i class="ico-key2 mr5"></i> Password</a></li>
                            </ul>
                            <!-- tab menu -->
                        </div>
                        <!--/ Right side / bottom side -->
                        <div class="col-md-8">
                            <!-- START Tab-content -->
                            <div class="tab-content">
                                <!-- tab-pane: profile -->
                                <div class="tab-pane active" id="profile">
                                    <!-- form profile -->
									
                                    <%= form_for @user, :html => {:class => "panel form-horizontal form-bordered"} do |f| %>
                                        <div class="panel-body pt0 pb0">
                                            <div class="form-group header bgcolor-default">
                                                <div class="col-md-12">
													
                                                    <h4 class="semibold text-primary mt0 mb5">Charterholder Details</h4>
                                                    <p class="text-default nm">This information appears on your public profile, search results, and beyond.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
												<%= f.fields_for :user_profile_pictures, :html => {:multipart => true} do |builder| %>
                                                <label class="col-sm-3 control-label">Photo</label>
                                                <div class="col-sm-9">
                                                    <div class="btn-group pr5">
                                                        <img class="img-circle img-bordered" src="<%= @user.avatar %>" alt="" width="34px">
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default">Change photo</button>
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
														<%= builder.file_field :photo %>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Upload photo</a></li>
                                                            <li><a href="#">Remove</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
											<% end %>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">First Name</label>
												
                                          
                                           
                                                <div class="col-sm-4">
													<%= f.text_field :prefix, class: "form-control", placeholder: "Prefix: Optional" %>
													<br>
													<%= f.text_field :first_name, class: "form-control", placeholder: "Enter your first name." %>
													<br>
													
													<%= f.text_field :middle_name, class: "form-control", placeholder: "Enter your middle name." %>
													<br>
													<%= f.text_field :last_name, class: "form-control", placeholder: "Enter your last name." %>
													<br>
													<%= f.text_field :suffix, class: "form-control", placeholder: "Enter your first name." %>
                     
                                                    
                                                </div>
                                            </div>
                                         <div class="form-group">
                                             <label class="col-sm-3 control-label">Email</label>
                                             <div class="col-sm-6">
												<%= f.email_field :email, class: "form-control", placeholder: "name@domain.com"  %>
                                                 
                                             </div>
                                         </div>
										 <%= f.fields_for :user_detail, @user_detail do |builder| %>
                                         <div class="form-group">
                                             <label class="col-sm-3 control-label">Company</label>
                                             <div class="col-sm-6">
												<%= builder.text_field :company, class: "form-control"  %>
                                                 
                                             </div>
                                         </div>
                                         <div class="form-group">
                                             <label class="col-sm-3 control-label">Title</label>
                                             <div class="col-sm-6">
												<%= builder.text_field :title, class: "form-control"  %>
                                                 
                                             </div>
                                         </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Twitter</label>
                                                <div class="col-sm-6">
													<%= builder.text_field :twitter, class: "form-control"  %>
                                                    
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Instagram</label>
                                                <div class="col-sm-6">
													<%= builder.text_field :instagram, class: "form-control"  %>
                                                    
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Facebook</label>
                                                <div class="col-sm-6">
													<%= builder.text_field :facebook, class: "form-control"  %>
                                                </div>
                                            </div>
											<% end %>
                                          
                                            
                                            <div class="form-group header bgcolor-default">
                                                <div class="col-md-12">
                                                    <h4 class="semibold text-primary nm">LinkedIn</h4>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">&nbsp;</label>
                                                <div class="col-sm-9">
                                                    <div class="btn-group pr5">
                                                        <img class="img-circle img-bordered" src="<%= @user.avatar %>" alt="" width="34px">
                                                    </div>
                                                    <a href="javascript:void(0);" class="btn btn-facebook">Connect to LinkedIn</a>
                                                    <p class="help-block">to manage your connection with Facebook.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button type="reset" class="btn btn-default">Reset</button>
											<%= f.submit "Save changes", class: "btn btn-primary" %>
                                            
                                        </div>
                                    </form>
									<% end %>
                                    <!--/ form profile -->
                                </div>
                                <!--/ tab-pane: profile -->

                                
                                <!-- tab-pane: account -->
                                <div class="tab-pane" id="account">
                                    <!-- form account -->
                                    <%= form_for @user, :html => {:class => "panel form-horizontal form-bordered"} do |f| %>
									<%= f.fields_for :user_detail, @user_detail do |builder| %>
                                        <div class="panel-body pt0 pb0">
                                            <div class="form-group header bgcolor-default">
                                                <div class="col-md-12">
                                                    <h4 class="semibold text-primary mt0 mb5">Account</h4>
                                                    <p class="text-default nm">Change your basic account and language settings.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Bio</label>
                                                <div class="col-sm-6">
													<%= builder.text_area :bio, class: "form-control", cols: 50, rows: 10, placeholder: "Describe about yourself." %>
                                                    <p class="help-block">About yourself in 160 characters or less.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Education</label>
                                                <div class="col-sm-4">
                                                    <%= builder.text_field :undergraduate_school, class: "form-control", placeholder: "Undergraduate School" %>
                                                </div>
												
                                                <div class="col-sm-4">
                                                    <%= builder.text_field :undergraduate_degree, class: "form-control", placeholder: "Undergraduate Degree" %>
                                                </div>
												<br>
                                                <label class="col-sm-3 control-label">Education</label>
                                                <div class="col-sm-4">
                                                    <%= builder.text_field :graduate_school, class: "form-control", placeholder: "Graduate School" %>
                                                </div>
                                                <div class="col-sm-4">
                                                    <%= builder.text_field :graduate_degree, class: "form-control", placeholder: "Graduate Degree" %>
                                                </div>	
                                            </div>
											
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">CFA Charterholder since:</label>
                                               <div class="col-sm-4">
                                                   <%= builder.text_field :year_of_charter, class: "form-control", placeholder: "Year of Charter" %>
                                               </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Certifications</label>
                                                <div class="col-sm-4">
                                                    <%= builder.text_field :certifications, class: "form-control", placeholder: "Certifications" %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">City</label>
                                                <div class="col-sm-5">
													<%= builder.select :city, User.cities_list.sort, prompt: "Select Location", :class => "form-control" %>
                                                <!-- <select class="form-control" name="language">
                                                        <option>Select Language...</option>
                                                        <option value="eu">Basque - Euskara (beta)</option>
                                                        <option value="ca">Catalan - català (beta)</option>
                                                        <option value="sv">Swedish - Svenska</option>
                                                        <option value="tr">Turkish - Türkçe</option>
                                                        <option value="uk">Ukrainian - Українська мова (beta)</option>
                                                    </select> -->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Industries</label>
                                                <div class="col-sm-4">
                                                    <%= builder.text_field :industries, class: "form-control", placeholder: "Industries" %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Skills</label>
                                                <div class="col-sm-4">
                                                    <%= builder.text_field :skills, class: "form-control", placeholder: "Skills" %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Interests</label>
                                                <div class="col-sm-4">
                                                    <%= builder.text_field :interests, class: "form-control", placeholder: "Interests" %>
                                                </div>
                                            </div>
											
											
											
                                        
                                       
                                         
                                            
                                        </div>
                                        <div class="panel-footer">
                                            <button type="reset" class="btn btn-default">Reset</button>
                                            <button type="submit" class="btn btn-primary">Save change</button>
                                        </div>
										<% end %>
                                    <% end %>
                                    <!--/ form account -->
                                </div>
                                <!--/ tab-pane: account -->

                                
                                <!-- tab-pane: password -->
                                <div class="tab-pane" id="password">
                                    <!-- form password -->
									<%= form_for @user, :html => {:class => "panel form-horizontal form-bordered"} do |f| %>
                                        <div class="panel-body pt0 pb0">
                                            <div class="form-group header bgcolor-default">
                                                <div class="col-md-12">
                                                    <h4 class="semibold text-primary mt0 mb5">Password</h4>
                                                    <p class="text-default nm">Change your password or recover your current one.</p>
                                                </div>
                                            </div>
											
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Current password</label>
                                                <div class="col-sm-5">
													<%= f.password_field :current_password, label:false, placeholder:"", :class => "form-control" %>
                                                    <p class="help-block"><a href="javascript:void(0);">Forgot password?</a></p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">New password</label>
                                                <div class="col-sm-5">
													<%= f.password_field :password, label:false, placeholder:"", :class => "form-control" %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Verify password</label>
                                                <div class="col-sm-5">
                                                    <%= f.password_field :password_confirmation, label:false, placeholder:"", :class => "form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button type="reset" class="btn btn-default">Reset</button>
											<%= f.submit "Save Changes", class: "btn btn-primary" %>
                                            
                                        </div>
                                    <% end %>
                                </div>
                                <!--/ tab-pane: password -->
                            </div>

                        </div>
                        
                        <!--/ END Row -->
                    </div>
                </div>
                <!-- START To Top Scroller -->
                <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
            </div><!--/ END Template Container -->
            <!--/ END To Top Scroller -->

        </section>
            <!--/ END Template Main -->

        

        <%= render "shared/js" %>
    </body>
    <!--/ END Body -->
</html>