<%= render 'shared/head_home'%>
    <!-- START Body -->
    <body>
        <!-- START Template Header -->
        <header id="header" class="navbar navbar-fixed-top">
            <div class="container">
                <!-- START navbar header -->
                <div class="navbar-header">
                    <!-- Brand -->
                    <a class="navbar-brand" href="/">
                        <span class="logo-figure" style="margin-left:-4px;"></span>
                        <span class="logo-text"></span>
                    </a>
                    <!--/ Brand -->
                </div>
                <!--/ END navbar header -->

                <!-- START Toolbar -->
                <div class="navbar-toolbar clearfix">
                    <!-- START Left nav -->
                    <ul class="nav navbar-nav">
                        <!-- Navbar collapse: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
                        <li class="navbar-main navbar-toggle">
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="meta">
                                    <span class="icon"><i class="ico-paragraph-justify3"></i></span>
                                </span>
                            </a>
                        </li>
                        <!--/ Navbar collapse -->
                    </ul>
                    <!--/ END Left nav -->

                    <!-- START navbar form -->
                    <div class="navbar-form navbar-left dropdown" id="dropdown-form">
                        <form action="" role="search">
                            <div class="has-icon">
                                <input type="text" class="form-control" placeholder="Search this site...">
                                <i class="ico-search form-control-icon"></i>
                            </div>
                        </form>
                    </div>
                    <!-- START navbar form -->

                    <!-- START Right nav -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Search form toggler -->
                        <li>
                            <a href="about.html" data-toggle="dropdown" data-target="#dropdown-form">
                                <span class="meta">
                                    <span class="icon"><i class="ico-search"></i></span>
                                </span>
                            </a>
                        </li>
                        <!--/ Search form toggler -->
                    </ul>
                    <!--/ END Right nav -->

                     <!-- START nav collapse -->
                    <%= render 'shared/home_navigation' %>
                    <!--/ END nav collapse -->
                </div>
                <!--/ END Toolbar -->
            </div>
        </header>
        <!--/ END Template Header -->

        <!-- START Template Main -->
        <section id="main" role="main">

            <section class="jumbotron jumbotron-bg2 nm" data-stellar-background-ratio="0.4" style="min-height:1100px;">
            <!-- pattern + overlay -->
            
            

                
            <!-- START Register Content -->
            <section class="section">
                <!-- pattern + overlay -->
                <div class="overlay pattern pattern2"></div>
                <!--/ pattern + overlay -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 pt60 pb60">
                            <!-- Header -->
                            <div class="section-header section-header-bordered text-center">
                                <h2 class="section-title">
                                    <span class="font-alt nm">Create a Free Account</span>
                                </h2>
                            </div>
                            <!--/ Header -->
                        </div>

                        <div class="col-md-6">
                            <!-- features #1 -->
                            <div class="table-layout">
                                <div class="col-xs-2 valign-top"><img src="../image/icons/brandprotection.png" width="100%"></div>
                                <div class="col-xs-10 valign-top pl15">
                                    <h4 class="font-alt mt0">Create a Profile</h4>
                                    <p>Create a professional profile and in minutes begin connecting with peers in our global community.</p>
                                </div>
                            </div>
                            <!-- features #1 -->
                            <div class="visible-md visible-lg" style="margin-bottom:50px;"></div><!-- spacer -->
                            <!-- features #2 -->
                            <div class="table-layout">
                                <div class="col-xs-2 valign-top"><img src="../image/icons/seoperfomance.png" width="100%"></div>
                                <div class="col-xs-10 valign-top pl15">
                                    <h4 class="font-alt mt0">Network Online</h4>
                                    <p>Connect with like-minded professionals around the globe that share your career aspirations and interest.</p>
                                </div>
                            </div>
                            <!-- features #2 -->
                            <div class="visible-md visible-lg" style="margin-bottom:50px;"></div><!-- spacer -->
                            <!-- features #3 -->
                            <div class="table-layout">
                                <div class="col-xs-2 valign-top"><img src="../image/icons/responsivewebdesign.png" width="100%"></div>
                                <div class="col-xs-10 valign-top pl15">
                                    <h4 class="font-alt mt0">Post and Apply for Jobs</h4>
                                    <p>We are actively seeking corporate partnerships and professional alliances to create job opportunities for our members.</p>
                                </div>
                            </div>
                            <!-- features #3 -->
                            <div class="visible-md visible-lg" style="margin-bottom:50px;"></div><!-- spacer -->
                            <!-- features #4 -->
                            <div class="table-layout">
                                <div class="col-xs-2 valign-top"><img src="../image/icons/supportservices.png" width="100%"></div>
                                <div class="col-xs-10 valign-top pl15">
                                    <h4 class="font-alt mt0">Give Back and Contributel</h4>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                                </div>
                            </div>
                            <!-- features #4 -->
                        </div>

                        <div class="col-md-4 col-md-offset-2">
                            <!-- Register form -->
							<%= form_for User.new, :html => {:class => "panel nm"} do |f| %>
                           
                               
                                <hr class="nm">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div class="has-icon pull-left">
											<%= f.text_field :email, class: "form-control", id: "signup_username", placeholder: "" do %>
                                            <i class="ico-user2 form-control-icon"></i>
											<% end %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Password</label>
                                        <div class="has-icon pull-left">
											<%= f.password_field :password, class: "form-control", id: "signup_username", placeholder: "" do %>
                                            <i class="ico-key2 form-control-icon"></i>
											<% end %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Retype Password</label>
                                        <div class="has-icon pull-left">
                                            <%= f.password_field :password_confirmation, class: "form-control", id: "signup_username", placeholder: "" do %>
                                            <i class="ico-asterisk form-control-icon"></i>
											<% end %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Access Code</label>
                                        <div class="has-icon pull-left">
                                            <%= f.password_field :access_code, class: "form-control", id: "access_code", placeholder: "" do %>
                                            <i class="ico-asterisk form-control-icon"></i>
											<% end %>
                                        </div>
                                    </div>
                                </div>
                                <hr class="nm">
                                <div class="panel-body">
                                    <p class="semibold text-muted"></p>
                                  
                                    <div class="form-group">
                                        <div class="checkbox custom-checkbox">  
                                            <input type="checkbox" name="agree" id="agree" value="1">  
                                            <label for="agree">&nbsp;&nbsp;I agree to the <a class="semibold" href="javascript:void(0);">Term Of Services</a></label>   
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox custom-checkbox">  
                                            <input type="checkbox" name="news" id="news" value="1">  
                                            <label for="news">&nbsp;&nbsp;Send me Newsletters.</label>   
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
									<%= button_tag(type: 'submit', class: "btn btn-block btn-success") do %>
									 <span class="semibold">Sign up</span>
									<% end %>
										
                                </div>
                            <% end %>
                            <!-- Register form -->
                        </div>
                    </div>
                </div>
            </section>
            <!--/ END Register Content -->

            <!-- START To Top Scroller -->
            <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
            <!--/ END To Top Scroller -->
        </section>
        <!--/ END Template Main -->

        <!-- START Template Footer -->
        <footer id="footer" role="contentinfo">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- About -->
                    <div class="col-md-10">
                        <div class="col-md-11 row">
                            <h4 class="mt0">About Us</h4>
                            <p>We are dedicated to connecting, supporting, and empowering black professionals that have achieved the CFA designation and those pursuing the CFA course of study.</p>
                        </div>
                    </div>
                    <!--/ About -->

                    <!-- Address + Social -->
                    <div class="col-md-2">
                         <h4 class="font-alt mt0">Stay Connect</h4>
                        <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                        <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                        <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                        <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Instagram"><i class="ico-instagram2"></i></a>
                    </div>
                    <!--/ Address + Social -->

                    
                </div>
                <!--/ row -->
            </div>
            <!--/ container -->

            <!-- bottom footer -->
            <div class="footer-bottom">
                <!-- container -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- copyright -->
                            <p class="nm copyright">&copy; Copyright 2014 by <a href="javascript:void(0);" class="">The Wildfyre Group</a>. All Rights Reserved.</p>
                            <!--/ copyright -->
                        </div>
                        <div class="col-sm-6 text-right legal">
                            <a href="javascript:void(0);" class="">Privacy Policy</a>
                            <span class="ml5 mr5">&#8226;</span>
                            <a href="javascript:void(0);" class="">Terms of Service</a>
                        </div>
                    </div>
                </div>
                <!--/ container -->
            </div>
            <!--/ bottom footer -->
        </footer>
        <!--/ END Template Footer -->

        <!-- START JAVASCRIPT SECTION (Load javascripts at bottom to reduce load time) -->
        <!-- Library script : mandatory -->
        <script type="text/javascript" src="/library/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="/library/jquery/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/library/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/library/core/js/core.min.js"></script>
        <!--/ Library script -->

        <!-- App and page level script -->
        <script type="text/javascript" src="/plugins/sparkline/js/jquery.sparkline.min.js"></script><!-- will be use globaly as a summary on sidebar menu -->
        <script type="text/javascript" src="/javascript/app.min.js"></script>
        
        
        <!--/ App and page level scrip -->
        <!--/ END JAVASCRIPT SECTION -->
    </body>
    <!--/ END Body -->
</html>