<%= render 'shared/backend_head' %>

    <!-- START Body -->
    <body>
        <!-- START Template Main -->
        <section id="main" role="main">

         <section class="jumbotron jumbotron-bg1 nm" data-stellar-background-ratio="0.4" style="min-height:1400px;">
            <!-- pattern + overlay -->



            <!-- START Register Content -->
            <section class="section">
            <!-- pattern + overlay -->
            <div class="overlay pattern pattern2"></div>

            <!-- START Template Container -->
            <section class="container">
                <!-- START row -->
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <!-- Brand -->
                        <div class="text-center" style="margin-bottom:20px;">
                            <span class="logo-figure inverse"></span>
                            <span class="logo-text inverse"></span>
                            <h3 class="semibold text-white mt-5">Create a new account.</h3>
                        </div>
                        <!--/ Brand -->

                        <%= form_for User.new, :html => {:class => "panel nm"} do |f| %><!-- Register form -->
                        <form class="panel" name="form-register" action="">
                           <div class="panel-body">
                                <!-- Social button -->
                                <ul class="list-table">
                                    <li><button type="button" class="btn btn-block btn-facebook">Connect with <i class="ico-facebook2 ml5"></i></button></li>
                                    <li><button type="button" class="btn btn-block btn-twitter">Connect with <i class="ico-twitter2 ml5"></i></button></li>
                                </ul>
                                <!-- Social button -->
                            </div>
                            <hr class="nm">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <div class="has-icon pull-left">
                                         <%= f.text_field :email, class: "form-control", id: "signup_username", placeholder: "" do %>
                                             <input type="text" class="form-control" name="username" data-parsley-required>
                                            <i class="ico-user2 form-control-icon"></i>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <div class="has-icon pull-left">
                                        <%= f.password_field :password, class: "form-control", id: "signup_username", placeholder: "" do %>
                                            <input type="password" class="form-control" name="password" data-parsley-required>
                                            <i class="ico-key2 form-control-icon"></i>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Retype Password</label>
                                    <div class="has-icon pull-left">
                                        <%= f.password_field :password_confirmation, class: "form-control", id: "signup_username", placeholder: "" do %>
                                            <input type="password" class="form-control" name="retype-password" data-parsley-equalto="input[name=password]">
                                            <i class="ico-asterisk form-control-icon"></i>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <hr class="nm">
                            <div class="panel-body">
                                <p class="semibold text-muted">Please enter the access code.</p>
                                <div class="form-group">
                                    <label class="control-label">Access Code</label>
                                    <div class="has-icon pull-left">
                                        <%= f.password_field :access_code, class: "form-control", id: "access_code", placeholder: "" do %>
                                            <input type="email" class="form-control" name="email" placeholder="you@mail.com">
                                            <i class="ico-envelop form-control-icon"></i>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox custom-checkbox">  
                                        <input type="checkbox" name="agree" id="agree" value="1">  
                                        <label for="agree" class="text-muted">&nbsp;&nbsp;I agree to the <a class="semibold text-muted" href="javascript:void(0);">
                                            <u>Term Of Services</u></a>
                                        </label>   
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <%= button_tag(type: 'submit', class: "btn btn-block btn-success") do %>
                                    <span class="semibold">Sign up</span>
                                <% end %>
                            </div>
                        </form>
                        <!-- Register form -->
                        <% end %>


                        <hr><!-- horizontal line -->

                        <p class="text-center">
                            <span class="text-white">Already have an account? <a class="semibold ml5" href="<%= login_path %>">Login in to your Account.</a></span>
                        </p>
                    </div>
                </div>
                <!--/ END row -->
            </section>
            
            <!--/ END Register Content -->

            <!-- START To Top Scroller -->
            <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
            <!--/ END To Top Scroller -->
        </section>
        <!--/ END Template Main -->

